@using OnlineCaterer.Application.Common.Interfaces.Data;
@using static OnlineCaterer.Web.Views.Home.IndexModel
@using OnlineCaterer.Web.Views.Shared.Layout.Components.Header;
@using OnlineCaterer.Web.Views.Shared.Layout.Components.Header.Partials;

@inject IRepository<OnlineCaterer.Domain.Entities.Caterer> CatererRepository

<div class="header_area">
	<partial name="@(ManageLayoutComponents.HeaderBackground)" />
	@* Header Section *@
	<header class="header_section">
		<div class="container">
			@* Navbar *@
			<nav class="navbar navbar-expand-lg custom_nav-container row">
				@* Navbar Left Content*@
				<div id="navbar-left" class="col-lg-3">
					@* Brand & Home *@
					<partial name="@ManageLayoutComponents.NavBrand" />
					@* End Brand & Home *@

					@* Collapse Button *@
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
							data-bs-target="#NavbarContent" aria-controls="NavbarContent"
							aria-expanded="false" aria-label="Toggle navigation">
						<span class=""> </span>
					</button>
					@* End Collapse Button *@
				</div>
				@* End Navbar Left Content*@

				@* Navbar Middle & Right Content *@
				<div id="NavbarContent" class="collapse navbar-collapse col-lg-9 col-md-12 row">
					@* Navbar Middle Content *@
					<ul id="navbar-middle" class="navbar-nav mx-auto col-md-8">
						@foreach(var item in NavItemManager.ViewModels)
						{
							<li class="nav-item @(item.PageTitle.Equals(ViewData["Title"]) ? "active" : "")">
								<a asp-page="@(item.AspPage)" class="nav-link">
									@(item.ShowTitle ?? item.PageTitle)
									@if (item.PageTitle.Equals(ViewData["Title"]))
									{
										<span class="sr-only">
											(current)
										</span>
									}
								</a>
							</li>
						}
					</ul>
					@* End Navbar Middle Content *@

					@* Navbar Right Content *@
					<div id="navbar-right" class="navbar-nav nav-user_options col-md-4">
						@* User Options *@
						<div class="row">
							@* Search Button *@
							<div class="col-md-2 option-box">
								<a id="search_option" class="user_option-icon">
									<partial name="Icons/fa-search-icon" />
									<div id="search_option-arrow" class="selected_option-arrow"></div>
								</a>
							</div>
							@* End Search Button *@

							@* User Options *@
							<div class="col-md-2 option-box">
								<a id="user_options" class="user_option-icon">
									<partial name="Icons/fa-user-icon" />
									<div id="user_options-arrow" class="selected_option-arrow"></div>
								</a>
							</div>
							@* End User Options *@

							@* Booking Option *@
							<div class="col-md-2 option-box">
								<a asp-page="@(ViewPathManager.BookingIndex)" class="user_option-icon">
									<partial name="Icons/fa-cart-shopping-icon" />
								</a>
							</div>
							@* End Booking Option *@

							@* Booking Button*@
							<a asp-page="@(ViewPathManager.CreateBooking)"
								asp-route-catererId=""
								class="booking-btn col-lg-6">
								<span>
									Book Now
								</span>
							</a>
							@* End Booking Button*@

							@* Selected Option Box *@
							<partial name="@(ManageLayoutComponents.SelectedOptionBox)" />
							@* End Selected Option Box *@
						</div>
						@* End User Options *@
					</div>
					@* End Navbar Right Content *@
				</div>
				@* End Navbar Middle & Right Content *@
			</nav>
			@* End Navbar *@
		</div>
	</header>
	@* End Header Section *@

	@* Slider Section *@
	@if (NavItemManager.HomePage.PageTitle.Equals(ViewData["Title"]))
	{
		<partial name="@(ManageLayoutComponents.SliderPartial)" model="new SliderPartial(CatererRepository)" />
	}
	@* End Slider Section *@
</div>
