@using Microsoft.AspNetCore.Identity;
@using OnlineCaterer.Application.Initialization;
@using OnlineCaterer.Data.Identity;
@using OnlineCaterer.Domain.Constants;
@using static OnlineCaterer.Web.Views.Home.IndexModel;
@using OnlineCaterer.Web.Views.Shared.Layout.Components.Header;

@inject CompanyInfo CompanyInfo
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    @* Favicon *@
    <link rel="shortcut icon" href="~/images/favicon.png" type="">
    <title>@CompanyInfo.Brand - @ViewData["Title"]</title>

    @* Bootstrap *@
    <link rel="stylesheet" href="~/vender/bootstrap-5.3.1-dist/css/bootstrap.min.css" />
    @* owl slider stylesheet *@
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    @* nice select *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
            integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
            crossorigin="anonymous" />
    @* Font Awesome *@
    <link rel="stylesheet" href="~/vender/font-awesome/font-awesome.min.css" />

    @* Customize CSS *@
    <link rel="stylesheet" href="~/css/reset.css" />
    <link rel="stylesheet" href="~/css/support-bootstrap.css" />
    <link rel="stylesheet" href="~/css/common.css" />

    @* Layout Style *@
    <link rel="stylesheet" href="~/css/layout/layout-style.css" />
    <link rel="stylesheet" href="~/css/layout/header-style.css" />
    <link rel="stylesheet" href="~/css/layout/main-style.css" />
    <link rel="stylesheet" href="~/css/layout/sidebar-style.css" />
    <link rel="stylesheet" href="~/css/layout/footer-styles.css" />

    @* Components Style*@
    <link rel="stylesheet" href="~/css/components/selected_option-style.css" />
    <link rel="stylesheet" href="~/css/components/slider-styles.css" />
    <link rel="stylesheet" href="~/css/components/caterer_list-styles.css" />
    <link rel="stylesheet" href="~/css/components/food_page-style.css" />
    <link rel="stylesheet" href="~/css/components/pagination-style.css" />
    <link rel="stylesheet" href="~/css/components/input-custom.css" />

    @* Responsive Style *@
    <link href="~/css/responsive.css" rel="stylesheet" />
    
</head>

<body class="@{
    if (!NavItemManager.HomePage.PageTitle.Equals(ViewData["Title"])
        || User.IsInRole(ConstantsRoles.Caterer))
    {
        @Html.Raw("sub_page")
    }
}">
    @* Header *@
    @if (!SignInManager.IsSignedIn(User))
    {
        <partial name="@(ManageLayoutComponents.CustomerHeader)" />
    }
    else
    {
        if (User.IsInRole(ConstantsRoles.Caterer))
        {
            <partial name="@(ManageLayoutComponents.CatererHeader)" />
        }
        else
        {
            <partial name="@(ManageLayoutComponents.CustomerHeader)" />
        }
    }
    @* End Header *@
    @* Body Content *@
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @* End Body Content *@

    <div id="rightbar-root">
        <partial name="@(ManageLayoutComponents.SideBarRight)" />
    </div>

    @* Footer *@
    <partial name="@(ManageLayoutComponents.FooterPartial)" />
    @* End Footer *@

    @* JQuery *@
    <script src="~/vender/jquery-3.7.0/jquery-3.7.0.min.js"></script>

    @* popper js *@
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous">
    </script>

    @* bootstrap js *@
    <script src="~/vender/bootstrap-5.3.1-dist/js/bootstrap.min.js"></script>

    @* owl slider *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

    @* isotope js *@
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>

    @* nice select *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>

    @* custom js *@
    @*<script src="~/js/custom.js"></script>*@

    <script src="~/js/header.js"></script>
    <script src="~/js/sidebars.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>