@page "/booking/{bookingId:int}/details/"
@model OnlineCaterer.Web.Views.Auth.Booking.BookingDetailsModel

<a asp-page="@(ViewPathManager.BookingIndex)">
	Back
</a>

@Model.BookingInfo.OrderBy

@foreach (var bookingDetails in Model.Details.Items)
{
	<div>
		@bookingDetails.Food.Name
	</div>

	@bookingDetails.Quantity

	<div>
		<a asp-page="@(ViewPathManager.FoodDetails)"
			asp-route-categoryId="@bookingDetails.Food.CategoryId"
			asp-route-foodId="@bookingDetails.Food.FoodId"
			asp-route-returnUrl="@Request.Path">
			Food Details
		</a>
	</div>
}