@model OnlineCaterer.Web.Views.Shared.PaginationViewComponent

@{
	Dictionary<int, string?>? pageItems = null;

	if (pageItems == null)
	{
		pageItems = Model.CreateFromRange();
	}
}

<ul class="">
	<li class="">
		<a class=""
		   @if (!Model.Previous())
		   {
		   @Html.Raw("href=\"#\"")
		   @Html.Raw("tabindex=\"-1\"")
		   @Html.Raw("aria-disabled=\"true\"")
		   }
		   else
		   {
		   @Html.Raw($"href=\"{Model.GeneratedUrl}\"")
		   } >
			Prev
		</a>
	</li>

	@foreach(var pageItem in pageItems)
	{
		<li class="">
			<a class=""
				href="@(Model.IsCurrentPage(pageItem) ? "#" : pageItem.Value)">
				@pageItem.Key
				@if (Model.IsCurrentPage(pageItem))
				{
					<span class="sr-only">
						(current)
					</span>
				}
			</a>
		</li>
	}

	<li class="">
		<a class=""
		   @if (!Model.Next())
		   {
		   @Html.Raw("href=\"#\"")
		   @Html.Raw("tabindex=\"-1\"")
		   @Html.Raw("aria-disabled=\"true\"")
		   }
		   else
		   {
		   @Html.Raw($"href=\"{Model.GeneratedUrl}\"")
		   } >
			Next
		</a>
	</li>

</ul>
