@using OnlineCaterer.Web.Views.Shared.Components.FoodBox;
@using System.Globalization;
@model FoodBox.DataHolder

@{
	var food = Model.Food;
}

<div class="food_box">
	<div class="food_box-top">
		<div class="food-img"></div>
	</div>
	<div class="food_box-center">
		<div class="food_box-detail">
			<h5>@food.Name</h5>
			<ul>
				<li>
					@food.Category
				</li>
				<li>
					@(!food.Discontinued
						? "Still Production"
						: "Stop Production"
					)
				</li>
				<li>
					<a asp-page="@(ViewPathManager.FoodDetails)"
					   asp-route-categoryId="@food.CategoryId"
					   asp-route-foodId="@food.FoodId"
					   asp-route-returnUrl="@Model.ReturnUrl"
					   class="">
						more information
					</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="food_box-bottom">
		<h6 class="food_box-price">
			@food.Price.ToString("C3", CultureInfo.CurrentCulture)
		</h6>
		<div class="checkbox-container">
			<input type="checkbox"
				id="@($"add_to_cart-{food.FoodId}")"
				name="add_to_cart"
				value="@food.FoodId"
			/>
			<label class="checkbox-face" for="@($"add_to_cart-{food.FoodId}")">
				<partial name="Icons/fa-cart-shopping-icon" />
			</label>
		</div>
	</div>
</div>
