@using OnlineCaterer.Web.Views.Shared.Components.FoodBox;
@using System.Globalization;
@model FoodBox.DataHolder

@{
	var food = Model.Food;
	var checkboxId = $"add_to_cart-{food.FoodId}";
	var labelId = $"add_to_cart-{food.FoodId}-label";
}

<div class="food_box">
	<div class="food_box-top">
		<img src="~/images/hero-bg.jpg" alt="" />
	</div>
	<div class="food_box-center">
		<h5>@food.Name</h5>
		@{
			var description = food.Description;
			if (description.Length < 100)
			{
				<p>
					@description
				</p>
			}
			else
			{
				<p>
					@description.Substring(0, 97).Concat("...")
					<a asp-page="@(ViewPathManager.FoodDetails)"
						asp-route-categoryId="@food.CategoryId"
						asp-route-foodId="@food.FoodId"
						asp-route-returnUrl="@Model.ReturnUrl"
						class=""
					>
						more information
					</a>
				</p>
			}
		}
	</div>
	<div class="food_box-bottom">
		<h6 class="food_box-price">
			@food.Price.ToString("C3", CultureInfo.CurrentCulture)
		</h6>
		<div class="add_to_cart-btn">
			<input type="checkbox"
				id="@(checkboxId)"
				name="add_to_cart"
				value="@($"food-{food.FoodId}")"
			/>
			<label class="add_to_cart-front"
				for="@(checkboxId)"
				id="@(labelId)"
			>
				<partial name="Icons/fa-cart-shopping-icon" />
			</label>
			<script>
				import('/js/page/booking-create.js').then((module) => {
					module.toggleSvg(
						'@(checkboxId)',
						'@(labelId)',
						`@(await Html.PartialAsync("Icons/fa-cart-shopping-icon"))`
					);
				});
			</script>
		</div>
	</div>
</div>
